:root{
    --background-color: #222222;
    --white: #ffffff;
}

body {
    height: 95vh;
    background-color: var(--background-color);
    color: var(--white);
    margin: 0;
}


/* ------ Title & Score ------ */
.text-bar-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.players-score{
    display: flex;
    align-items: center;
    justify-content: center;
}

.players-score .player-score {
    margin: 0 35px;
}

.line{
    width: 100vw;
    height: 1px;
    background-color: var(--white);
}


/* ------ Game ------ */

.game-conatiner{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.player{
    height: 100px;
    width: 15px;
    background-color: var(--white);
}

.ball{
    height: 15px;
    width: 15px;
    border-radius: 15px;
    background-color: var(--white);
}
